.search-bar {
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px auto;
    padding: 10px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  button {
    margin-right: 10px;
    margin-left: 20px;
  }

  .product-list{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
  }

  .error-container {
    background-color: #ff4d4d; /* Rojo */
    color: white;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    margin: 20px;
  }
  
  .error-container button {
    background-color: white;
    color: #ff4d4d;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
  }
  
  .error-container button:hover {
    background-color: #ff9999;
  }

